@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro.ttf");
}
::selection {
  background: #42b983;
  color: #fff;
}
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  position: relative;
  height: 100%;
  margin: 0;
  color: #bfc0bf;
  font-size: 16px;
}
@media screen and (max-width: 480px) {
  body {
    font-size: 15px;
  }
}
ol,
ul,
form {
  margin: 0;
}
a {
  text-decoration: none;
  color: #42b983;
  cursor: pointer;
}
p {
  word-spacing: 0.05em;
  margin: 3em, 0;
}
table {
  font-size: 1.1rem;
}
thead {
  font-size: 1.2rem;
}
pre {
  overflow-x: auto;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.flex-box {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  transform: unset !important;
}
.wechat-share {
  width: 0;
  height: 0;
  overflow: hidden;
}
.wechat-share img {
  width: 400px;
  height: 400px;
}
.app-content {
  background-color: #3c3f41;
}
.app-body {
  padding: 3em;
  margin: 0 auto;
  height: 100%;
  position: relative;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s;
  max-width: 980px;
}
@media screen and (max-width: 480px) {
  .app-body {
    padding: 1.5em;
  }
}
.hljs {
  background: none !important;
}
.postnav {
  font-size: 1.1rem;
  padding: 10px 0;
  border-top: 1px dashed #e5e5e5;
  border-bottom: 1px dashed #e5e5e5;
}
.postnav span:first-child {
  margin-right: 10px;
  font-weight: 600;
  line-height: 2rem;
}
.tags {
  margin: auto 0;
  display: inline-block;
}
.tags span:first-child {
  margin-right: 5px;
}
.tag-code {
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 0.9em;
  display: inline-block;
  font-weight: 600;
  color: #e96900;
  border-radius: 2px;
  white-space: nowrap;
}
.article-card {
  padding-bottom: 20px;
}
.article-card:first-child {
  margin-top: 60px;
}
h2.article-head {
  font-size: 1.7em;
  margin-bottom: 0;
}
.article-head > a {
  color: #bfc0bf;
}
.article-head > a:hover {
  border-bottom: 2px solid #42b983;
}
.article-date {
  color: #7f8c8d;
  margin: 10px 0;
  font-size: 0.9em;
}
.article-summary {
  margin: 10px 0;
  color: #42b983;
  font-size: 1.2rem;
}
.more {
  font-weight: 600;
  display: inline-block;
  transition: all 0.3s;
  color: #bfc0bf;
}
.more:hover {
  transform: translateX(10px);
}
#article-banner {
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 100px 20px 25px 20px;
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  #article-banner {
    padding: 80px 10px 25px 10px;
  }
}
#article-banner h2 {
  margin: 0.4em 0;
  font-size: 2.2em;
  color: #fff;
  text-shadow: 0 0 40px #bfc0bf;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s;
}
@media screen and (max-width: 480px) {
  #article-banner h2 {
    font-size: 2em;
  }
}
#article-banner .post-date {
  margin: 10px 0 20px 0;
  color: #fff;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s;
  transition-delay: 0.05s;
}
#article-banner .arrow-down {
  display: flex;
  width: 100%;
  justify-content: center;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s;
  transition-delay: 0.1s;
}
#article-banner .arrow-down a {
  z-index: 4;
  display: block;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  -webkit-animation-name: shine;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}
.post-article {
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
}
.post-article .author {
  color: #42b983;
}
.money-like {
  padding: 2em 0 3em;
}
.money-like .reward-btn {
  cursor: pointer;
  font-size: 1.6em;
  line-height: 2em;
  position: relative;
  display: block;
  width: 2em;
  height: 2em;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border: 1px solid #f1b60e;
  border-radius: 50%;
  background: linear-gradient(to bottom, #fccd60 0, #fbae12 100%, #2989d8 100%, #207cca 100%);
}
.money-like .money-code {
  position: absolute;
  top: -7em;
  left: 50%;
  display: none;
  width: 10.5em;
  height: 5.5em;
  margin-left: -5.9em;
  padding: 10px 15px;
  background: #fff;
  box-shadow: 0 0 0 1px #2c2c2c;
  border-radius: 4px;
}
.money-like .money-code span {
  display: inline-block;
  width: 4.5em;
  height: 4.5em;
}
.money-like .money-code .alipay-code {
  float: left;
}
.money-like .money-code .alipay-code .code-image {
  background-image: url("images/alipay.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 4.5em;
  height: 4.5em;
}
.money-like .money-code .wechat-code {
  float: right;
}
.money-like .money-code .wechat-code .code-image {
  background-image: url("images/wechat.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 4.5em;
  height: 4.5em;
}
.money-like .money-code b {
  font-size: 0.5em;
  line-height: 24px;
  display: block;
  margin: 0;
  text-align: center;
  color: #bfc0bf;
}
.notice {
  font-size: 12px;
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #7f8c8d;
  font-style: italic;
}
.qrcode {
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 1px dashed #2c2c2c;
}
.qrcode canvas {
  width: 8em;
  height: 8em;
  padding: 5px;
  box-shadow: 0 0 1px #e3e3e3;
}
#uyan_frame {
  margin-top: 20px;
}
#gitment {
  background-color: #fff;
  padding: 5px 15px;
}
.image-view-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}
.image-view-wrap .image-view-inner {
  position: relative;
}
.image-view-wrap img {
  display: block;
  margin: 0 auto;
  cursor: zoom-out;
  transition: all 0.3s ease-in-out;
}
.wrap-active {
  background-color: #3c3f41;
}
.scroll-top {
  cursor: pointer;
  opacity: 0;
  position: fixed;
  box-sizing: border-box;
  right: 2em;
  bottom: 45px;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: #42b983;
  border-radius: 20px;
  transform: translate(80px, 0);
  transition: all 0.3s ease;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.12), 0 3px 3px 0 rgba(0,0,0,0.24);
}
.scroll-top .arrow-icon {
  background-image: url("images/top.png");
  width: 30px;
  height: 30px;
  display: block;
  background-size: contain;
}
.opacity {
  opacity: 1;
  transform: translate(0, 0);
}
.header {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  transition: background 0.5s;
}
.fixed-header {
  position: fixed;
  background-color: rgba(255,255,255,0.98);
  box-shadow: 0 0 3px rgba(14,14,14,0.26);
}
.fixed-header .home-link {
  color: #42b983;
}
.fixed-header .menu .icon-bar {
  background-color: #7f8c8d;
}
.fixed-header .item-link {
  color: #7f8c8d;
}
.header-container {
  max-width: 1200px;
  height: 40px;
  margin: 0 auto;
  padding: 10px 40px;
  position: relative;
}
@media screen and (max-width: 480px) {
  .header-container {
    padding: 6px 20px;
    position: relative;
  }
}
.logo {
  background: url("images/logo.png");
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.home-link {
  display: flex;
  align-items: center;
  float: left;
  font-weight: 600;
  color: #fff;
  font-size: 1.6em;
  line-height: 44px;
}
.right-list {
  list-style: none;
  float: right;
  padding: 0;
}
@media screen and (max-width: 480px) {
  .right-list {
    display: none;
  }
}
.list-item {
  display: inline-block;
  margin: 0 8px;
}
.item-link {
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
  padding-bottom: 3px;
}
.item-link:hover {
  border-bottom: 3px solid #42b983;
}
.active {
  border-bottom: 3px solid #42b983;
}
.menu {
  display: none;
  float: right;
  width: 24px;
  height: 24px;
  margin-top: 10px;
}
.menu .icon-bar {
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 1px;
  margin-top: 4px;
  background-color: #fff;
}
@media screen and (max-width: 480px) {
  .menu {
    display: block;
  }
}
.menu-mask {
  display: none;
  position: fixed;
  left: 0;
  top: 52px;
  z-index: 99;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  background: rgba(255,255,255,0.98);
  -webkit-transition: max-height 0.2s ease;
  transition: max-height 0.2s ease;
}
@media screen and (max-width: 480px) {
  .menu-mask {
    display: block;
  }
}
.open {
  max-height: 300px;
  transition-delay: 0.1s;
}
.menu-list {
  padding: 0;
}
.menu-item {
  position: relative;
  list-style: none;
  text-align: center;
  padding: 10px 0;
}
.menu-item a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
}
.menu-item:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #2c2c2c;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.menu-link {
  text-decoration: none;
  color: #7f8c8d;
}
.mobile-active {
  color: #42b983;
}
.app-footer {
  padding: 0.2rem;
  margin: 0 auto;
  border-top: 1px solid #2c2c2c;
  background-color: #3c3f41;
  text-align: center;
  font-size: 1.1rem;
  overflow: hidden;
}
.copyright {
  color: #7f8c8d;
  line-height: 1;
}
.guide-pager {
  margin: 1em 3em;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
}
.page-arrow {
  color: #bfc0bf;
}
.unvisible {
  visibility: hidden;
}
.markdown-content,
.article-summary {
  overflow-y: auto;
  overflow-x: hidden;
}
.markdown-content pre,
.article-summary pre,
.markdown-content code,
.article-summary code {
  font-family: 'Roboto Mono', Monaco, courier, monospace;
}
.markdown-content pre .line,
.article-summary pre .line,
.markdown-content code .line,
.article-summary code .line {
  min-height: 13px;
  margin: 2px 0;
}
.markdown-content p,
.article-summary p {
  line-height: 2em;
  font-size: 1.1rem;
}
.markdown-content p code,
.article-summary p code {
  color: #e96900;
  padding: 3px 5px;
  white-space: nowrap;
}
.markdown-content ul li,
.article-summary ul li {
  line-height: 2em;
  font-size: 1.1rem;
}
@media screen and (max-width: 480px) {
  .markdown-content h1,
  .article-summary h1,
  .markdown-content h2,
  .article-summary h2 {
    text-align: center;
  }
}
.markdown-content h1,
.article-summary h1,
.markdown-content h2,
.article-summary h2 {
  font-size: 1.8em;
  padding-bottom: 7px;
  border-bottom: 1px solid #2c2c2c;
  line-height: 2em;
}
.markdown-content h3,
.article-summary h3 {
  margin: 1em 0;
  font-size: 1.3em;
  padding-bottom: 0.3em;
}
.markdown-content h4,
.article-summary h4 {
  margin: 1em 0;
  font-size: 1.2em;
}
.markdown-content h4:before,
.article-summary h4:before {
  content: "#";
  color: #42b983;
  margin-right: 5px;
  font-size: 1.2em;
  font-weight: 700;
}
.markdown-content h5,
.article-summary h5 {
  font-size: 1em;
  margin: 0.8em 0;
}
.markdown-content blockquote,
.article-summary blockquote {
  margin: 1em 0;
  padding: 5px 15px;
  border-left: 5px solid #42b983;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #2c2c2c;
}
.markdown-content ul,
.article-summary ul,
.markdown-content ol,
.article-summary ol {
  overflow: auto;
  margin: 15px 0;
}
.markdown-content ul li,
.article-summary ul li,
.markdown-content ol li,
.article-summary ol li {
  padding: 5px 0;
}
.markdown-content img,
.article-summary img {
  max-width: 95%;
  max-height: 95%;
  display: block;
  margin: 20px;
  cursor: zoom-in;
  border: 1px solid #2c2c2c;
}
.markdown-content figure,
.article-summary figure {
  background: #2c2c2c;
  padding: 0 10px;
  border-radius: 2px;
  margin: 20px 0;
  overflow: auto;
  position: relative;
}
.markdown-content figure:after,
.article-summary figure:after {
  content: attr(data-lang);
  position: absolute;
  top: 0;
  right: 0;
  color: #42b983;
  text-align: right;
  font-size: 0.7em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 500;
}
.markdown-content > table,
.article-summary > table {
  width: 100%;
  border: 1px solid #2c2c2c;
  border-collapse: collapse;
}
.markdown-content > table thead,
.article-summary > table thead {
  background-color: #42b983;
}
.markdown-content > table thead th,
.article-summary > table thead th {
  padding: 12px;
  color: #fff;
  border-right: 1px solid #2c2c2c;
}
.markdown-content > table tbody tr:nth-child(even),
.article-summary > table tbody tr:nth-child(even) {
  background: #2c2c2c;
}
.markdown-content > table tbody tr:nth-child(odd),
.article-summary > table tbody tr:nth-child(odd) {
  background: #3c3f41;
}
.markdown-content > table tbody tr td,
.article-summary > table tbody tr td {
  padding: 10px;
  border-right: 1px solid #2c2c2c;
}
.markdown-content hr,
.article-summary hr {
  border: none;
  border-bottom: 1px dashed #2c2c2c;
  margin: 30px 0;
}
#tag-cloud {
  margin: 10px 0 0 0;
  text-align: center;
  font-size: 1.1rem;
}
#tag-cloud a {
  border: none;
  line-height: 28px;
  margin: 0 4px;
  margin-bottom: 8px;
  display: inline-block;
  border-radius: 4px;
  padding: 0 10px;
  color: #fff;
  transition: background 0.5s;
}
#tag-cloud a:hover {
  background: #0085a1;
}
#tag-cloud .tag0 {
  background: #bbe;
}
#tag-cloud .tag1 {
  background: #9cb2e1;
}
#tag-cloud .tag2 {
  background: #cb92e1;
}
#tag-cloud .tag3 {
  background: #93935c;
}
#tag-cloud .tag4 {
  background: #92e1cb;
}
#tag-cloud .tag5 {
  background: #935c93;
}
.tag-list {
  margin: 0 2em;
}
.tag-name {
  font-size: 1.8em;
  position: relative;
}
.tag-name:before {
  content: "#";
  color: #42b983;
  position: absolute;
  left: -0.7em;
  top: -2px;
  font-size: 1.2em;
  font-weight: 700;
}
.tag-preview {
  font-size: 1.2em;
  padding-left: 1em;
}
.tag-preview li {
  cursor: pointer;
  margin: 10px 0;
}
#about-banner {
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #3c3f41;
  height: 350px;
}
#about-banner:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0.25;
  background: url("images/escheres.png");
  background-color: rgba(0,0,0,0.05);
}
@media screen and (max-width: 480px) {
  #about-banner {
    height: 250px;
  }
}
.author-content {
  margin-top: -78px;
  box-sizing: border-box;
}
.author-content .head {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
  opacity: 1;
}
.author-content .head img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.6s;
  border: #fff solid 2px;
  box-shadow: 0 0 5px #95a5a6;
}
.author-content .head img:hover {
  transform: scale(1.4);
}
.author-content h3 {
  font-size: 1.6em;
  opacity: 0;
  text-align: center;
  transition-delay: 2s;
  transition: all 2s;
}
.author-content .detail {
  opacity: 0;
  transform: translateY(-140px);
  transition: all 4s;
  max-width: 980px;
  margin: 0 auto;
}
.author-content .detail p {
  line-height: 2em;
  font-size: 1.1rem;
}
.author-content .detail table {
  font-size: 1.1rem;
}
.author-content .detail thead {
  font-size: 1.2rem;
}
.project-app {
  max-width: 100%;
  min-width: 300px;
  padding: 1em 0;
}
.card-container {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (min-width: 1100px) {
  .card-container {
    width: calc(960px + (100% - 960px) / 4);
    max-width: 1200px;
    margin: 30px auto 0px auto;
  }
}
@media screen and (max-width: 1100px) {
  .card-container {
    width: calc(640px + (100% - 640px) / 3);
    max-width: 700px;
    margin: 20px auto 0px auto;
  }
}
@media screen and (max-width: 750px) {
  .card-container {
    width: 320px;
    margin: 15px auto 0px auto;
  }
}
.card-container .loading {
  text-align: center;
  margin: 0 auto;
}
.card-container .project-card {
  width: 320px;
  height: 160px;
  margin-bottom: 15px;
  position: relative;
}
@media screen and (min-width: 1100px) {
  .card-container .project-card {
    margin: 30px 0px;
  }
}
@media screen and (max-width: 1100px) {
  .card-container .project-card {
    margin: 20px 0px;
  }
}
@media screen and (max-width: 700px) {
  .card-container .project-card {
    margin: 15px 0px;
  }
}
.card-container .project-card .card-wrap {
  box-sizing: border-box;
  height: 100%;
  display: block;
  padding: 20px;
  border: 1px solid #2c2c2c;
  background-color: #2c2c2c;
  border-radius: 4px;
  color: #bfc0bf;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
.card-container .project-card .card-wrap:hover {
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.15);
  box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 4px 12px rgba(0,0,0,0.1);
}
.card-container .project-card .card-wrap .card-header {
  position: absolute;
  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.card-container .project-card .card-wrap .card-title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.3em;
}
.card-container .project-card .card-wrap .card-description {
  color: #42b983;
}
.card-container .project-card .card-wrap .card-footer {
  box-sizing: border-box;
  position: absolute;
  margin-left: 20px;
  bottom: 20px;
  left: 0;
}
.card-container .project-card .card-wrap .card-footer span:first-child {
  padding-right: 20px;
}
.card-container .project-card .card-wrap .card-footer span .fa {
  padding-right: 5px;
}
.catalog-container {
  display: block;
  overflow: hidden;
  background-color: #3c3f41;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 19px;
}
@media screen and (max-width: 960px) {
  .catalog-container {
    display: none;
  }
}
.catalog-container .toc-indicator {
  float: left;
  font-size: 24px;
  font-weight: bold;
}
.catalog-container .toc-main {
  background-color: #fff;
  border: 1px solid #2c2c2c;
  margin-left: 15px;
  padding: 10px;
  padding-left: 10px;
  width: 280px;
  box-sizing: border-box;
}
.catalog-container .toc-main .toc-title {
  font-size: 1.2em;
  position: relative;
  padding-left: 5px;
  color: #1d3e81;
}
.catalog-container .toc-main .toc-nav {
  padding: 0;
  margin-top: 1em;
}
.catalog-container .toc-main ol {
  padding-left: 0px;
}
.catalog-container .toc-main li {
  list-style-type: none;
  line-height: 1.5;
  padding-left: 18px;
}
#asideToggle {
  display: none;
}
#asideToggle:checked ~ aside {
  width: 20%;
}
#asideToggle:checked ~ article {
  width: 100%;
}
#asideToggleLabel {
  cursor: pointer;
  color: #42b983;
}
@-moz-keyframes shine {
  0%, 100% {
    opacity: 0.1;
  }
  25%, 75% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes shine {
  0%, 100% {
    opacity: 0.1;
  }
  25%, 75% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes shine {
  0%, 100% {
    opacity: 0.1;
  }
  25%, 75% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
@keyframes shine {
  0%, 100% {
    opacity: 0.1;
  }
  25%, 75% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
